*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    padding: 20px 57px;
    display: flex;
    position: fixed;
    background-color: rgb(245, 245, 245);
    height: 120px;
    width: 100%;
}
.flex-item1{
    margin-left: 250px;
    margin-top: 30px;
}
.a{
    text-decoration: none;
    color: rgb(253, 185, 21);
    font-weight: 580;
    font-size: 18px;
    border-bottom: 2px solid rgb(34, 64, 147);
}
.b{
    color: rgb(34, 64, 147);
    text-decoration: none;
    font-weight: 580;
    margin-left: 25px;
    font-size:18px;
    border-bottom: 2px solid rgb(245, 245, 245);
}
.flex2{
    border: 1px solid rgb(34, 64, 147);
    color: white;
    background-color: rgb(34, 64, 147);
    text-align: center;
    margin-left: 150px;
    height: 39px;
    width: 135px;
    font-size: 1.2em;
    margin-top: 23px;
    border-radius:15px ;
    padding-top: 5px;
}
.im{
    background-position: center;
    background-size: cover;
    height: 130vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(20, 50, 50, 0.4), rgba(20, 50, 50, 0.4)), url(images1/ibte-bg-4.webp);
}
.span{
    display: flex;
    margin-top: -20px;
}
/* .ft{
    border: 1px solid rgb(253, 185, 21);
    text-decoration: none;
    height: 20px;
    width: 60px;
    color: rgb(34, 64, 147);
    background-color: rgb(253, 185, 21); }*/

.text{
    color: white;
    font-size: 10.5em;
    padding: 80px 80px;
    font-weight: 1000;
}
.background{
    width: 100%;
    height: 8000px;
    background-color: rgb(245, 245, 245);
    padding: 20px 20px;
}
.one{
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
}
.small{
    font-size: 3em;
    color: rgb(253, 185, 21);
}
.big{
    font-size: 4em;
    color: rgb(34, 64, 147);
    font-weight:500px;
}
.p{
    color: rgb(34, 64, 147);
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
}
.x{
    margin-left: 80px;
}
.r{
    color: rgb(34, 64, 147);
    font-size: 4em;
    margin-left: 30px;
}
.two{
    border-top: 1px solid rgb(253, 185, 21);
    width: 1280px;
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}
.t{
    margin-top: 50px;
    border-radius: 20%;
}
.g{
    margin-top: 20px;
    margin-left: 30px;
}
.up{
    color: rgb(22, 44, 105);
    font-size: 3em;
    font-weight: 600;
    margin-top: 35px;
}
.down{
    font-weight: 550;
}
.v{
    color: rgb(34, 64, 147);
    font-size: 4em;
    margin-left: 30px;
    margin-top: 80px;
    border-bottom: 1px solid rgb(253, 185, 21);
}
.flex{
    display: flex;
    padding: 50px 80px;
    flex-wrap: wrap ;
    gap: 30px;
    /* text-align: center; */
}
.name{
    color: rgb(34, 64, 147);
    text-align: center;
    font-size: 1.5em;
}
.class{
    text-align: center;
}
.h{
    font-size: 1.2em;
    font-weight: 700;
}
.bee{
    margin-top: 120px;
    font-size: 3em;
    color: rgb(34, 64, 147);
    font-weight: 800;
    margin-left: 30px;
    border-bottom: 1px solid rgb(253, 185, 21);
}
.three{
    display: flex;
    padding: 50px 30px;
    gap: 120px;
}
.q{
    margin-top: 150px;
    color: rgb(34, 64, 147);
    font-weight: 600;
}
.car{
    color: rgb(34, 64, 147);
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}
.bus{
    color: rgb(34, 64, 147);
    font-weight: 700;
    text-align: center;
    font-size: 1.2em;
}
.rap{
    border: 1px solid rgb(34, 64, 147);
    height: 60px;
    width: 450px;
    text-align: center;
    margin-left: 400px;
    margin-top: 30px;
    color:  rgb(34, 64, 147);
    background-color: rgb(253, 185, 21);
    padding-top: 10px;
    border-radius: 20px;
    font-size: 1.5em;
}
.lit{
    display: flex;
    margin-left: 80px;
    margin-top: 50px;
    gap: 10px;
}
.mark{
    font-size: 1.2em;
    padding-top: 5px;
    padding-left: 10px;
    height: 600px;
    width: 380px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
}
.lip{
    border: 1px solid rgb(253, 185, 21);
    color: rgb(34, 64, 147);
    text-decoration: none;
    font-size: 1em;
    padding: 7px 15px;
    border-radius: 15px;
    font-weight: 800;
    background-color: rgb(253, 185, 21);
    margin-left: 15px;
}
.fin{
    display: flex;
    gap: 80px;
    margin-top: 15px;
}
.money{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 800;
}
.pot{
    font-weight: 550;
    margin-top: 15px;
}
.bill{
    font-size: 1.2em;
    padding-top: 5px;
    padding-left: 10px;
    height: 600px;
    width: 380px;
    border: 1px solid rgb(34, 64, 147);
    border-radius: 20px;
    background-color: rgb(34, 64, 147);
    color: white;
}
.elon{
    font-size: 1.2em;
    padding-top: 5px;
    padding-left: 10px;
    height: 600px;
    width: 380px;
    border: 1px solid rgb(253, 185, 21);
    border-radius: 20px;
    background-color: rgb(253, 185, 21);
    color: rgb(34, 64, 147);
}
.lop{
    border: 1px solid rgb(34, 64, 147);
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 7px 15px;
    border-radius: 15px;
    font-weight: 800;
    background-color: rgb(34, 64, 147);
    margin-left: 15px;
}
.caro{
    width: 950px;
    height: 400px;
    background-color: white;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 15px;
}
.flex2:hover{
    background-color: rgb(253, 185, 21);
    color: rgb(34, 64, 147);
}
.rap:hover{
    background-color: rgb(34, 64, 147);
    color: white;
}
.b:hover{
    border-color: rgb(34, 64, 147);
}
.lip:hover{
    background-color: rgb(34, 64, 147);
    color: white;
    border-color: white;
}
.lop:hover{
    background-color: rgb(253, 185, 21);
    color: rgb(34, 64, 147);
    border-color: rgb(34, 64, 147);
}
